# No uplaod of the following files to the repository
# Ignore Python cache files
__pycache__/
.*.py[cod]
# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/
# Ignore virtual environment directories
venv/
.env/
.venv/
# Ignore Python bytecode files
*.pyc
# Ignore log files
*.log

#macOS
.DS_Store
# Windows
Thumbs.db
# Ignore IDE specific files
.idea/
# Ignore Python distribution files
dist/
